*{
margin:0;
padding:0;
}

header {
   width: 100%;
   height: 70px;
   padding: 15px 0;
   background-color: #EC715F;
   position: fixed;
   top: 0;
   display: flex;
   align-items: center;
}

.logo{
    display: inline-block;
    margin-left:20px;
    object-fit: contain;
    margin:10px 0 0 30px;
}
.logo img{
    width: 100px;

}

a {	
   text-decoration: none;
   color: #FAFAFA;
}

.header1 ul {
   list-style: none;
   margin: 0;
   display: flex;
}

.header1 li {
   margin: 0 0 0 30px;
   font-size: 16px;
}
nav {
   margin: 0 0 0 1024px
}

.main-visual{
    width: 100%;
    height: 650px;
    background-image: url(img/mv.png);
}
.main-visual-content {
  width: 50%; 
  height: 50%; 
  display: flex;
  margin-top: 200px;
  text-align: center;
}
.main-text{
    color: #FAFAFA;
    font-size:64px;
     text-align: center;
    
}
.subtext{
    color: #FAFAFA;
     margin-top: 10px;
     font-size:20px;
     text-align: center;
}




.main1 {
  width: 300px;
  height: 300px;
}